@import 'variables';

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'sofia sans';
}

a {
    text-decoration: none;
    color: $secundary-color-light;
    
    &:hover{
        color: $primary-color-light;
    }
}

.navbar {
    background-color: $primary-color-dark;
    position: fixed;
    width: 100%;

    .menu-main {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        max-width: 1200px;
        margin: auto;

        .navbar-logo {
            margin-right: auto;
            font-size: 1.8rem;
        }

        .menu-icon {
            @media (min-width:768px){
                display: none;
            }

            &.exit {
                .line {
                    &:first-child {
                        transform: rotate(45deg) translate(5px, 0px);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:last-child {
                        transform: rotate(-45deg) translate(5px, 0px);
                    }
                }
            }

            .line {
                background-color: $secundary-color-light;
                width: 25px;
                height: 2px;
                display: block;
                margin: 5px 0;
                transition: 0.2s;
            }
        
        }

        .menu-list {
            list-style: none;
            flex: 0 0 100%;
            display: none;

            @media (min-width:768px){
                display: flex;
                flex: 0 0 60%;
                justify-content: space-between;
            }

            &.active {
                display: flex;
                height: 100vh;
                flex-wrap: wrap;
                align-content: center;

                @media (min-width:768px){
                    height: initial;
                }
            }

            .menu-item {
                flex: 0 0 100%;
                text-align: center;
                padding: .5rem;

                @media (min-width:768px){
                    padding: 0;
                    flex: 0 0 auto;
                }

            }
        }

    }

}

section {
    height: 100vh;
    background-color: $primary-color-light;
}